@model AddOrEditBrandViewModel

@{
    ViewBag.Title = "Brand";
    Layout = null;
}

<form asp-action="AddOrEditBrand" method="post" onsubmit="return jQueryAjaxPost(this)">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <input asp-for="BrandId" type="hidden"/>
    <div class="row">
        <div class="col gap-3">
            <div class="form-group" style="padding-bottom:10px;">
                <label asp-for="BrandName"></label>
                <input class="form-control" asp-for="BrandName" type="text"></input>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group text-align-end">
                <button type="submit" class="btn btn-primary" style="width:auto">
                    Save
                </button>
            </div>
        </div>
    </div>
</form>