<div class="text-center">
    <br />
    <span style="font-size: 7em; color: #E51818;">
        <i class="fa-solid fa-circle-xmark "></i>
    </span>

    <h1>Access Denied</h1>
    <br />
    <h3> You dont have permission to view this page.</h3>
    <h3> Please check your credentials and try again</h3>
    <br />
    <p> Error Code: 403</p>
    <a asp-controller="home" asp-action="index" class="btn btn-success "> Go to home </a>
    <br />
</div>